/* App.css */
.App {
  width: 100%;
  margin: 0;
  padding: 0;
}
.fixed-img {
  height: 200px;
  object-fit: cover;
}
/* Khoảng cách phía trên để đẩy Slider xuống dưới header cố định */
.content-wrapper {
  padding-top: 100px; /* Điều chỉnh giá trị này dựa trên chiều cao thực tế của header */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .content-wrapper {
    padding-top: 60px; /* Giảm padding trên mobile nếu header nhỏ hơn */
  }
}

@media (max-width: 576px) {
  .content-wrapper {
    padding-top: 50px; /* Giảm thêm trên màn hình rất nhỏ */
  }
}